%include views/shared/header.html

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Company Analysis</h2>
                <br>
                <div id="chart"></div>
                <br>
                <h3>Q1 Summary</h3>
                <p>1. HIM Ventures stock holders earn $1.05 per share</p>
                <p>2. Octave Ottawa Venture stock holders earn an astounding $10.73 per share. That's $107,300 if you own 10,000 shares.</p>
                <p>3. AIA Enterprise does not make profit, thus no dividend.</p>
                <p>4. We don't get accounting report from TAZ Inc.</p>
            </div>
        </div>
    </div>
</body>

    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/c3/c3.min.js"></script>
    <script>
        var chart = c3.generate({
            data: {
                columns: [
                    % for d in data:
                        ["{{d[0]}}", {{d[1]}}, {{d[2]}}, {{d[3]}}, {{d[4]}}, {{d[5]}}],
                    % end
                ],
            },
            grid: {
                x: {
                    lines: [
                        {value: 0.1, text: 'Opening'},
                        {value: 1, text: 'Pitch'},
                        {value: 2, text: 'Before 1st Product Launch'},
                        {value: 3, text: '1st Product Launch'},
                        {value: 4, text: 'Current Price'}
                    ]
                }
            }
            
        });
    </script>

%include views/shared/footer.html
