%include views/shared/header.html

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-responsive" id="summary">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Change $</th>
                        <th>Change %</th>
                    </tr>
                </table>
                <h2>Buy</h2>
                <p>Choose stock to trade</p>
                <select class="form-control" id="select_company">
                    <option></option>
                </select>
                <p>Quantity:
                    <input id="quantity" type="text" class="form-control" placeholder="Quantity">
                </p>
                <div id="ready">
                    <p id="price">Price: 0.0</p>
                    <p id="total_price">Total Price: 0.0</p>
                    <button type="submit" class="btn btn-primary" id="buy_btn">Buy</button>
                </div>
            </div>
        </div>
    </div>
</body>
%include views/shared/footer.html
