%include views/shared/header.html

<body>
    <div class="container">
        <div class="row" id="login">
            <div class="col-md-12">
                <h2>Login</h2>
                <p>
                    <input id="login_username" type="text" class="form-control" placeholder="Enter username" autocomplete="off">
                </p>
                <button type="submit" class="btn btn-primary btn_login">Login</button>
            </div>
        </div>
        <div class="row profile">
            <div class="col-md-12">
                <h2>Current profile <button type="submit" class="btn btn-danger btn-sm btn_login">Logout</button></h2>
                <p id="user"></p>
                <p id="username"></p>
                <p id="cash"></p>
                <p>Investment</p>
                <table class="table table-hover table-responsive" id="investment">
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h2>Stock Summary</h2>
                <table class="table table-hover table-responsive" id="summary">
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Change since last event %</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row profile">
            <div class="col-md-12">
                <h2>Buy / Sell</h2>
                <p>Choose stock to trade</p>
                <select class="form-control" id="select_company">
                    <option></option>
                </select>
                <p>Quantity:
                    <input id="quantity" type="text" class="form-control" placeholder="Quantity" autocomplete="off">
                </p>
                <div id="ready">
                    <p id="price">Price: 0.0</p>
                    <p id="total_price">Total price: 0.0</p>
                    <button type="submit" class="btn btn-primary btn_trade" id="btn_buy">Buy</button>
                    <button type="submit" class="btn btn-default btn_trade" id="btn_sell">Sell</button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
</body>
%include views/shared/footer.html
